<style>


                .full-width-bg

    {
        background-image: url('https://static.vecteezy.com/system/resources/previews/036/184/325/large_2x/people-in-library-men-and-women-read-book-students-study-with-books-and-gadgets-in-public-library-interior-concept-vector.jpg');
        background-size: cover;
        background-position: center;
        height: 300px; /* Set a specific height for the background image section */
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
    }

    .dashed-border {
        border: 3px dotted #06453d; /* Set a dashed border style */
        width: 23% !important;
        background-color:#fff
    }

    .dashed-border1 {
        border: 3px dotted #06453d; /* Set a dashed border style */
        
    }
    .main{
        padding:0
    }
    .card{
        border:none !important;
    }

    .card .card-item-icon {
        width: 40px;
        height: 40px;
     
        inset-inline-end: 20px;
        inset-block-end: 21px;
        inset-block-start: auto;
        border-radius: 50%;
            line-height: 40px;
            text-align: center;
            background-color: #06453d;
            margin-right: 2px;
            display: inline-block;
            color:#fff
    }

   /*  .col-md-3{
        width:23% !important
    } */
}
</style>
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<div class="container-fluid p-0">
    <div class="full-width-bg">
        @* <h1>Welcome to My Website</h1> *@
    </div>
</div>
<div class="container mt-5">
    <div class="row d-flex justify-content-around mb-5">
        <div class="dashed-border col-md-3 h-50">
            <div class="card text-center">
                <div class="card-body">
                    <h5 class="card-title">
                        <div class="card-item-icon"><i class="fas fa-book"></i></div>
                        Total Books
                    </h5>
                    <h5 class="card-text">@ViewBag.Books</h5>
                    <p class="card-text"><small class="text-muted">Go To ALL Books</small></p>
                </div>
            </div>
        </div>

        <div class="dashed-border col-md-3 h-50">
            <div class="card text-center">
                <div class="card-body">
                    <h5 class="card-title">
                        <div class="card-item-icon"><i class="fas fa-user"></i></div>
                        Total Users
                    </h5>
                    <h5 class="card-text">@ViewBag.Users </h5>
                    <p class="card-text"><small class="text-muted">Go To ALL Users</small></p>
                </div>
            </div>
        </div>
        <div class="dashed-border col-md-3 h-50">
            <div class="card text-center">
                <div class="card-body">
                    <h5 class="card-title">
                        <div class="card-item-icon"><i class="fas fa-user"></i></div>
                        Total Authors
                    </h5>
                    <h5 class="card-text">@ViewBag.Authors </h5>
                    <p class="card-text"><small class="text-muted">Go To ALL Authors</small></p>
                </div>
            </div>
        </div>
        <div class="dashed-border col-md-3 h-50">
            <div class="card text-center">
                <div class="card-body">
                    <h5 class="card-title">
                        <div class="card-item-icon"><i class="fas fa-user"></i></div>
                        Total Categories
                    </h5>
                    <h5 class="card-text">@ViewBag.Categories</h5>
                    <p class="card-text"><small class="text-muted">Go To ALL Categories</small></p>
                </div>
            </div>
        </div>

</div>


    <div class="row d-flex justify-content-around mb-5">
       
   
        <div class="dashed-border col-md-3 h-50 ">
            <div class="card text-center ">
                    <div class="card-body">
                        <h5 class="card-title">
                            <div class="card-item-icon"><i class="fas fa-user"></i></div>
                           Most Request
                        </h5>
                        <h5 class="card-text">@ViewBag.BestBook.book: @ViewBag.BestBook.Count</h5>
                        <p class="card-text"><small class="text-muted">Go To ALL Users</small></p>
                    </div>
                </div>
            </div>

        <div class="dashed-border col-md-3 h-50">
            <div class="card text-center">
                <div class="card-body">
                    <h5 class="card-title">
                        <div class="card-item-icon"><i class="fas fa-user"></i></div>
                        Average Users Age
                    </h5>
                    <h5 class="card-text">@ViewBag.AverageAge</h5>
                    <p class="card-text"><small class="text-muted">Go To ALL Users</small></p>
                </div>
            </div>
        </div>
        <div class="dashed-border col-md-3 h-50">
            <div class="card text-center">
                <div class="card-body">
                    <h5 class="card-title mb-4">
                        <div class="card-item-icon"><i class="fas fa-user"></i></div>
                        The Total Number
                    </h5>
                    <h5 class="card-text">
                        @foreach (var group in ViewBag.GenderMaleandFemaile)
                        {
                            <tr>

                                <td>@group.Gender : </td>
                                <td>@group.Count</td>
                            </tr>
                            <br />

                        }
                    </h5>

                </div>
            </div>
        </div>

        <div class="dashed-border col-md-3 h-50">
            <div class="card text-center">
                <div class="card-body">
                    <h5 class="card-title">
                        <div class="card-item-icon"><i class="fas fa-user"></i></div>
                        Most Request
                    </h5>
                    <h5 class="card-text">@ViewBag.BestBook.book: @ViewBag.BestBook.Count</h5>
                    <p class="card-text"><small class="text-muted">Go To ALL Users</small></p>
                </div>
            </div>
        </div>


    </div>
    <div class="row d-flex justify-content-around mb-5">
      

        <div class="dashed-border col-md-3 h-50">
            <div class="card text-center">
                <div class="card-body">
                    <h5 class="card-title">
                        <div class="card-item-icon"><i class="fas fa-user"></i></div>
                        Average Users Age
                    </h5>
                    <h5 class="card-text">@ViewBag.AverageAge</h5>
                    <p class="card-text"><small class="text-muted">Go To ALL Users</small></p>
                </div>
            </div>
        </div>
        <div class="dashed-border col-md-3 h-50">
            <div class="card text-center">
                <div class="card-body">
                    <h5 class="card-title">
                        <div class="card-item-icon"><i class="fas fa-user"></i></div>
                        All Videos
                    </h5>
                    <h5 class="card-text">@ViewBag.Videos</h5>
                    <p class="card-text"><small class="text-muted">Go To ALL Videos</small></p>
                </div>
            </div>
        </div>
        <div class="dashed-border col-md-3 h-50">
            <div class="card text-center">
                <div class="card-body">
                    <h5 class="card-title">
                        <div class="card-item-icon"><i class="fas fa-user"></i></div>
                        All Borrows
                    </h5>
                    <h5 class="card-text">@ViewBag.Borrows</h5>
                    <p class="card-text"><small class="text-muted">Go To ALL Videos</small></p>
                </div>
            </div>
        </div>
        <div class="dashed-border col-md-3 h-50">
            <div class="card text-center">
                <div class="card-body">
                    <h5 class="card-title">
                        <div class="card-item-icon"><i class="fas fa-user"></i></div>
                        All Reviews
                    </h5>
                    <h5 class="card-text">@ViewBag.Reviews</h5>
                    <p class="card-text"><small class="text-muted">Go To ALL Videos</small></p>
                </div>
            </div>
        </div>
        

    </div>
    </div>
<div class=" container col-lg-12 ">
    <div class="dashed-border1">
    <div class="card">
        <div class="card-body">
        @*     <h5 class="card-title">All  Cites </h5>
            <hr /> *@
        
          
                <table class="table">
                    <thead>
                        <tr>


                            <th>
                                <h5>All  Cites</h5>
                            </th>
                            <th>
                                <h5>Count Of Users</h5>
                            </th>

                        </tr>
                    </thead>
                    <tbody>


                        @foreach (var group in ViewBag.City)
                        {
                            <tr>

                                <td><h6>@group.City</h6>  </td>
                                <td><h6>@group.Count</h6></td>
                            </tr>
                           
                        }

                    </tbody>
                </table>
          
        </div>
    </div>
    </div>
</div>

@* <section class="timeline_area section_padding_130">

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-sm-8 col-lg-6">
                <!-- Section Heading-->
                <div class="section_heading text-center">
                    <h6>Our History</h6>
                    <h3>Statistics</h3>
                    <div class="line" style="margin:20px 0"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <!-- Timeline Area-->
                <div class="apland-timeline-area">
                    <!-- Single Timeline Content-->
                    <div class="single-timeline-area">
                        <div class="timeline-date wow fadeInLeft" data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInLeft;">
                            <p>Near Future</p>
                        </div>
                        <div class="row">
                            <div class="col-12 col-md-6 col-lg-4">
                                <div class="single-timeline-content d-flex wow fadeInLeft" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInLeft;">
                                    <div class="timeline-icon"><i class="fa fa-address-card" aria-hidden="true"></i></div>
                                    <div class="timeline-text">
                                        <h6>The Avarage Age is :    @ViewBag.AverageAge</h6>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6 col-lg-4">
                                <div class="single-timeline-content d-flex wow fadeInLeft" data-wow-delay="0.5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInLeft;">
                                    <div class="timeline-icon"><i class="fa fa-archive" aria-hidden="true"></i></div>
                                    <div class="timeline-text">
                                        <h6>The most requested book is: @ViewBag.BestBook.book: @ViewBag.BestBook.Count</h6>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6 col-lg-4">
                                <div class="single-timeline-content d-flex wow fadeInLeft" data-wow-delay="0.7s" style="visibility: visible; animation-delay: 0.7s; animation-name: fadeInLeft;">
                                    <div class="timeline-icon"><i class="fa fa-address-book" aria-hidden="true"></i></div>
                                    <div class="timeline-text">
                                        <h6>The Number  Of Books: @ViewBag.Books</h6>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Single Timeline Content-->
                    <div class="single-timeline-area">
                        <div class="timeline-date wow fadeInLeft" data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInLeft;">
                            <p>2020</p>
                        </div>
                        <div class="row">
                            <div class="col-12 col-md-6 col-lg-4">
                                <div class="single-timeline-content d-flex wow fadeInLeft" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInLeft;">
                                    <div class="timeline-icon"><i class="fa fa-briefcase" aria-hidden="true"></i></div>
                                    <div class="timeline-text">
                                        <h6> The Number Of Authors is: @ViewBag.Authors.</h6>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6 col-lg-4">
                                <div class="single-timeline-content d-flex wow fadeInLeft" data-wow-delay="0.5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInLeft;">
                                    <div class="timeline-icon"><i class="fa fa-desktop" aria-hidden="true"></i></div>
                                    <div class="timeline-text">
                                        <h6>The Total Number  Of Categories is: @ViewBag.Categories</h6>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6 col-lg-4">
                                <div class="single-timeline-content d-flex wow fadeInLeft" data-wow-delay="0.5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInLeft;">
                                    <div class="timeline-icon"><i class="fa fa-desktop" aria-hidden="true"></i></div>
                                    <div class="timeline-text">
                                        <h6>The Total Number  Of Users is: @ViewBag.Users</h6>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Single Timeline Content-->
                    <div class="single-timeline-area">
                        <div class="timeline-date wow fadeInLeft" data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInLeft;">
                            <p>2019</p>
                        </div>
                        <div class="row">
                            <div class="col-12 col-md-6 col-lg-4">
                                <div class="single-timeline-content d-flex wow fadeInLeft" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInLeft;">
                                    <div class="timeline-icon"><i class="fa fa-id-card" aria-hidden="true"></i></div>
                                    <div class="timeline-text">
                                        <h6>
                                            The Total Number :
                                            <br />
                                            @foreach (var group in ViewBag.GenderMaleandFemaile)
                                            {
                                                <tr>

                                                    <td>@group.Gender : </td>
                                                    <td>@group.Count</td>
                                                </tr>
                                                <br />
                                            }
                                        </h6>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                    </div>
                                </div>
                            </div>
                          
                            <div class="col-12 col-md-6 col-lg-4">
                                <div class="single-timeline-content d-flex wow fadeInLeft" data-wow-delay="0.7s" style="visibility: visible; animation-delay: 0.7s; animation-name: fadeInLeft;">
                                    <div class="timeline-icon"><i class="fa fa-id-card" aria-hidden="true"></i></div>
                                    <div class="timeline-text">
                                        <h6>
                                            The Total Number Of Users in
                                            <br/>
                                            @foreach (var group in ViewBag.City)
                                            {
                                                <tr>

                                                    <td>@group.City : </td>
                                                    <td>@group.Count</td>
                                                </tr>
                                                <br />
                                            }
                                        </h6>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> *@


