@model BookReaders.Models.Message

 <style>

    .alert-message {
        margin: 20px 0;
        padding: 20px;
        border-left: 3px solid #eee;
    }

        .alert-message h4 {
            margin-top: 0;
            margin-bottom: 5px;
        }

        .alert-message p:last-child {
            margin-bottom: 0;
        }

        .alert-message code {
            background-color: #fff;
            border-radius: 3px;
        }

    .alert-message-success {
        background-color: #F4FDF0;
        border-color: #3C763D;
    }

        .alert-message-success h4 {
            color: #3C763D;
        }

    .alert-message-danger {
        background-color: #fdf7f7;
        border-color: #d9534f;
    }

        .alert-message-danger h4 {
            color: #d9534f;
        }

    .alert-message-warning {
        background-color: #fcf8f2;
        border-color: #f0ad4e;
    }

        .alert-message-warning h4 {
            color: #f0ad4e;
        }

    .alert-message-info {
        background-color: #f4f8fa;
        border-color: #5bc0de;
    }

        .alert-message-info h4 {
            color: #5bc0de;
        }

    .alert-message-default {
        background-color: #EEE;
        border-color: #B4B4B4;
    }

        .alert-message-default h4 {
            color: #000;
        }

    .alert-message-notice {
        background-color: #FCFCDD;
        border-color: #BDBD89;
    }

        .alert-message-notice h4 {
            color: #444;
        }
    }
</style>
 
@* <div class="container d-flex justify-content-center" style="margin-top:100px">
    <div class="card shaodw-lg  card-1">
        <div class="card-header pt-3 pb-0 ml-auto border-0 ">
            <svg class=" cursor-pointer" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="20" height="20" viewBox="0 0 172 172" style=" fill:#000000;"><g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><path d="M0,172v-172h172v172z" fill="none"></path><g fill="#ffffff"><path d="M33.73372,23.59961l-10.13411,10.13411l52.26628,52.26628l-52.26628,52.26628l10.13411,10.13411l52.26628,-52.26628l52.26628,52.26628l10.13411,-10.13411l-52.26628,-52.26628l52.26628,-52.26628l-10.13411,-10.13411l-52.26628,52.26628z"></path></g></g></svg>
        </div>
        <div class="card-body  d-flex pt-0">
            <div class="row no-gutters  mx-auto justify-content-start flex-sm-row flex-column">
                <div class="col-md-4  text-center"><img class="irc_mi img-fluid mr-0" src="https://cdn4.iconfinder.com/data/icons/logistics-delivery-2-5/64/137-512.png" width="150" height="150"></div>
                <div class="col-md-6 ">
                    <div class="card border-0 ">
                        <div class="card-body">
                            <h5 class="card-title "><b>Dear @Html.DisplayFor(model => model.User.UserName)</b></h5>
                            <p class="card-text "><p>@Html.DisplayFor(model => model.Content)</p>
                            <p class="card-text "><p>@Html.DisplayFor(model => model.CreateDate)</p>
                            <a asp-action="BorrowBook" asp-controller="Borrow" type="button" class="btn btn-primary btn-round-lg btn-lg"> Import my data </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> *@
<div class="container" style="margin-top:100px">
    <div class="row">
     
        <div class="col-sm-12 col-md-12">
            <div class="alert-message alert-message-danger">
                <h4>
                    Alert Message Danger
                </h4>
                <p>
                <p style="margin-bottom:20px">@Html.DisplayFor(model => model.Content)</p> <strong>Send message @Html.DisplayFor(model => model.CreateDate)</strong>.
                </p>
            </div>
        </div>
    </div>
</div>