@model UserBorrowViewModel

<style>
    .con p {
        font-size: 30px;
        color: #06453d;
        font-weight: bold;
        font-style: italic
    }

    .con {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

        .con div {
            width: 50%;
            height: 100%;
        }

        .con img {
            width: 80%;
            height: auto;
            max-width: 100%;
            overflow: hidden;
        }

    .left-images img {
        width: 70% !important;
    }
</style>


<!-- ***** Main Banner Area Start ***** -->
<div class="container-fluid" style="background-color: #f5f1ed; margin-top: 80px;">
    <div class="container con">
        <div>
            <img src="https://bridge315.qodeinteractive.com/wp-content/uploads/2020/01/p1-img-02.jpg" />
        </div>
        <div>
            <p>Borrow List</p>
        </div>
    </div>
</div>

@* @if (User.Identity.IsAuthenticated)
{
    <div class="container">

        <div class="row">
            <div class="col-lg-12">
                <div class="section-heading text-center">
                    <h2>Welcome, @Model.User.UserName</h2>
                    <span>Your Borrow List:</span>
                </div>
            </div>
        </div>
    </div>
} *@
<!-- ***** Main Banner Area End ***** -->
<!-- ***** Product Area Starts ***** -->
@if (Model.Borrows != null && Model.Borrows.Any() && Model.Borrows.All(f => f.Book != null))
{
    <ul>
        @foreach (var favorite in Model.Borrows)
        {
            @if(favorite.IsReturned== false)
            {
                <section class="section" id="productt">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="left-images d-flex justify-content-end">
                                    <img width="50px" src="@Url.Content("~/" + favorite.Book.ImagePath)"
                                         style="margin-left: auto;" />
                                  
                                </div>
                            </div>
                            <div class="col-lg-8 pl-5">
                                <div class="right-content">
                                    <h4>@favorite.Book.Title</h4>
                                    <span class="price">Languages: @favorite.Book.Language</span>
                                    <ul class="stars">
                        @favorite.Book.Category.Name
                        </ul>
                                    <span>@favorite.Book.Description</span>
                                    @*         <div class="quote">
                        <i class="fa fa-quote-left"></i><h3>By: @favorite.Book.Author.Name</h3>
                        </div> *@
                                    <div class="quantity-content" style="height:150px">
                                        <div class="total">
                                            <h4 class="d-flex justify-content-between " style="width:35%">
                                      @*           <div class="main-border-button">
                                                    <a asp-action="Return" asp-controller="Borrow" asp-area="" asp-route-id="@favorite.Book.Id">
                                                        Return
                                                    </a>
                                                </div> *@
                                            </h4>
                                      
                                          
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr/>
                    </div>
                </section>
            }
           

    }
    </ul>
}
else
{

    <p class="alert-success w-100 d-flex justify-content-center text-center p-5">No Borrows found </p>
}