@model BookReaders.Models.BookDetailsViewModel
@using BookReaders.Areas.AccountUser.Models
@inject Microsoft.AspNetCore.Identity.SignInManager<ApplicationUser> _signInManager;
@{
    var userName = ViewBag.UserName; // Retrieve username from ViewBag
    
}
<style>
    /* Tabs*/
    section {
        padding: 60px 0;
    }

        section .section-title {
            text-align: center;
            color: #06453d;
            margin-bottom: 50px;
            text-transform: uppercase;
        }

    #tabs {
        /* background: #06453d; */
        color: #06453d;
    }

        #tabs h6.section-title {
            color: black;
        }

        #tabs .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
            color: #f3f3f3;
            background-color: transparent;
            border-color: transparent transparent #f3f3f3;
            border-bottom: 4px solid !important;
            font-size: 20px;
            font-weight: bold;
        }

        #tabs .nav-tabs .nav-link {
            border: 1px solid transparent;
            border-top-left-radius: .25rem;
            border-top-right-radius: .25rem;
            color: #06453d;
           
            font-size: 20px;
        }


    .mt-20 {
        margin-top: 50px !important;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        color: #3d405c;
        margin: 0px 0px 15px 0px;
        font-family: 'Circular Std Medium';
    }


    .about-us .left-image img {
        width: 70%;
        overflow: hidden;

    }

    .about-us .left-image{
        display:flex;
        justify-content:end
    }

    .lead {
        font-size: 1.25rem;
        font-weight: 300;
        color: #3d3f5d;
    }

    .tab-regular .nav.nav-tabs {
        border-bottom: transparent;
    }

        .tab-regular .nav.nav-tabs .nav-item {
        }

        .tab-regular .nav.nav-tabs .nav-link {
            display: block;
            padding: 17px 49px;
     /*        color: #71748d;
            background-color: #dddde8; */
            margin-right: 5px;
           /*  border-color: #dddde8; */
        }

    .tab-regular .nav-tabs .nav-link.active {
        background-color: #fff;
        border-color: #e6e6f2 #e6e6f2 #fff;
        color: #5969ff;
    }

    .tab-regular .tab-content {
        background-color: #fff;
        padding: 30px;
        border: 1px solid #e6e6f2;
        border-radius: 4px;
        border-top-left-radius: 0px
    }

    .con p {
        font-size: 30px;
        color: #06453d;
        font-weight: bold;
        font-style:italic
    }

    .con {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

        .con div {
            width: 50%;
            height: 100%;
        }

        .con img {
            width: 80%;
            height: auto;
            max-width: 100%;
            overflow: hidden;
        }

</style>
<!-- ***** Main Banner Area Start ***** -->



<div class="container-fluid" style="background-color: #f5f1ed; margin-top: 80px;">
    <div class="container con">
        <div>
            <img src="https://bridge315.qodeinteractive.com/wp-content/uploads/2020/01/p1-img-02.jpg" />
        </div>
        <div>
            <p>About Book</p>
        </div>
    </div>
</div>
<!-- ***** Main Banner Area End ***** -->
<!-- ***** Product Area Starts ***** -->
@if (Model.Book != null)
{
    <section class="section" id="productt">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="left-images d-flex justify-content-end">
                        <img src="@Url.Content("~/" + Model.Book.ImagePath)" alt="" style="margin-left: auto;">
                      
                    </div>
                </div>
                <div class="col-lg-8 pl-5">
                    <div class="right-content">
                        <h4>@Html.DisplayFor(model => model.Book.Title)</h4>
                        <span class="price">Languages: @Html.DisplayFor(item => item.Book.Language)</span>
                        <ul class="stars">@Html.DisplayFor(model => model.Book.Category.Name)</ul>
                        <span>@Html.DisplayFor(model => model.Book.Description)</span>
                        <div class="quote">
                            <i class="fa fa-quote-left"></i>
                            <h3>By: @Html.DisplayFor(item => item.Book.Author.Name)</h3>
                        </div>
                        <div class="quantity-content" style="height:150px">
                            <div class="total">
                                <h4 class="d-flex justify-content-between " style="width:35%">
                                    @if (Model.Book.Quantity > 0)
                                    {
                                        
                                            <div class="main-border-button">

                                            <a a asp-action="BorrowConfirmation" asp-controller="Borrow" asp-area="" asp-route-id="@Model.Book.Id">Borrow Book</a>
                                        </div>
                                        <div class="main-border-button">
                                            <a class="main-border-button" data-bs-toggle="modal" data-bs-target="#exampleModal2-@Model.Book.Id">Read PDF</a>

                                     


                                            <div class="modal fade" id="exampleModal2-@Model.Book.Id" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                <div class="modal-dialog modal-dialog-scrollable">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="exampleModalLabel">PDF Viewer</h5>
                                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                        </div>
                                                        <div class="modal-body">

                                                            <iframe src="@Url.Content("~/" + @Model.Book.BookPDF)" class="w-100" height="500" style="border: none;"></iframe>
                                                           
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>




                                        </div>
                                    }
                                    else
                                    {
                                      
                                <div class="main-border-button "><a href="#" class="disabled btn-danger text-light" >Not Available</a></div>
                                        <div class="main-border-button">
                                            <a class="main-border-button" data-bs-toggle="modal" data-bs-target="#exampleModal2-@Model.Book.Id">Read PDF</a>




                                            <div class="modal fade" id="exampleModal2-@Model.Book.Id" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                <div class="modal-dialog modal-dialog-scrollable">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="exampleModalLabel">PDF Viewer</h5>
                                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                        </div>
                                                        <div class="modal-body">

                                                            <iframe src="@Url.Content("~/" + @Model.Book.BookPDF)" class="w-100" height="500" style="border: none;"></iframe>

                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>




                                        </div>
                                       
                                    }
                              
                          </h4>
                       @*          <div class="main-border-button">
                                    <a class="main-border-button" href="@Url.Content("~/" + @Model.Book.BookPDF)" target="_blank">Book PDF</a>
                                </div> *@
                            </div>
                        </div>
                       
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section id="tabs" style="padding-top:20px !important">
        <div class="container">
           
            <div class="row ">
                <div class="col-xs-12 ">
                    <nav>
                        <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                            <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">
                                Reviews(@Model.Reviews.Count())
                            </a>
                            <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Author</a>
                            <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Description</a>
                     
                        </div>
                    </nav>
                    <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">
                        <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                            <div class="container-fluid">
                                <div class="container mt-5">
                                    <div class="input-group mb-3" style="width: 100%;">


                                        <form asp-action="AddReview" asp-controller="Book" asp-area="" method="post"
                                              class="d-flex w-100">
                                            <input type="hidden" asp-for="@Model.Book.Id" />
                                            <input type="text" class="form-control" asp-for="NewReviewComment" placeholder="Add your review" />
                                            <input class="btn btn-outline-secondary" type="submit" />
                                        </form>

                                    </div>
                                    <div class="row  d-flex justify-content-center">

                                        <div class="col-md-12">

                                            <div class="headings d-flex justify-content-between align-items-center mb-3">
                                                <h5>All comments(@Model.Reviews.Count())</h5>

                                                <div class="buttons">

                                        

                                                </div>

                                            </div>


                                            @if (Model.Reviews != null && Model.Reviews.Any())
                                            {


                                                @foreach (var review in Model.Reviews)
                                                {
                                                    <div class="card p-3 mt-2">

                                                        <div class="d-flex justify-content-between align-items-center">

                                                            <div class="user d-flex flex-row align-items-center">

                                                                <img src="@Url.Content("~/" + review.User.ImagePath)" width="30" class="user-img rounded-circle mr-2">
                                                                <span>
                                                                    @if (!string.IsNullOrEmpty(@review.User.UserName))

                                                                    {
                                                                        <p>
                                                                            By: <small class="text-dark">
                                                                                @review.User.UserName
                                                                            </small>
                                                                        </p>
                                                                    }
                                                                    else
                                                                    {
                                                                        <p>By: <small class="text-danger">Unknown User</small></p>
                                                                    }
                                                                    <small class="font-weight-bold">@review.Comment</small>
                                                                </span>

                                                            </div>

                                                            <small>@review.ReviewDate.DayOfWeek</small>

                                                        </div>

                                                        <div class="action d-flex justify-content-between mt-2 align-items-center">

                                                            <div class="reply px-4">
                         
                                              @if (_signInManager.IsSignedIn(User))
                                                                {
                                           @if (@review.User.UserName == @User.Identity.Name)
                                                                    {
              <form asp-action="Delete" asp-controller="Review" asp-area="" asp-route-id="@review.Id" method="post">
                              <button type="submit" style="border:none; background:none; font-size:15px;color:black"> Remove</button>
                           
                                                                           
                                                                        </form>
                                                                    }
                                                                }

                                                            </div>

                                                            <div class="icons align-items-center">
                                                                <i class="fa fa-check-circle-o check-icon text-primary"></i>

                                                            </div>

                                                        </div>

                                                    </div>

                                                }

                                            }
                                            else
                                            {
                                                <p>No reviews yet.</p>
                                            }





                                        </div>

                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                            <div class="card p-3 mt-2">
                                <h4>@Model.Book.Author.Name</h4>
                                <span>@Model.Book.Author.Birthdate</span>
                                <div class="quote">
                                    <i class="fa fa-quote-left"></i><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiuski smod kon tempor incididunt ut labore.</p>
                                </div>
                                <p>  @Model.Book.Author.Biography</p>



                            </div>
                        </div>
                        <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
                            <div class="card p-3 mt-2">
                                <div class="quote">
                                    <i class="fa fa-quote-left"></i>
                            Et et consectetur ipsum labore excepteur est proident excepteur ad velit occaecat qui minim occaecat veniam. Fugiat veniam incididunt anim aliqua enim pariatur veniam sunt est aute sit dolor anim. Velit non irure adipisicing aliqua ullamco irure incididunt irure non esse consectetur nostrud minim non minim occaecat. Amet duis do nisi duis veniam non est eiusmod tempor incididunt tempor dolor ipsum in qui sit. Exercitation mollit sit culpa nisi culpa non adipisicing reprehenderit do dolore. Duis reprehenderit occaecat anim ullamco ad duis occaecat ex.
                            </div>
                            </div>
                        </div>
                       
                    </div>

                </div>
            </div>
        </div>
    </section>




<!-- ***** Product Area Ends ***** -->

    @await Component.InvokeAsync("RelatedBook", new { id = Model.Book.Category.Id })
}





