@model IEnumerable<BookReaders.Models.Book>



<div class="page-heading" id="top">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="inner-content">
                    @*     <h2>Single Product Page</h2>
                    <span>Awesome &amp; Creative HTML CSS layout by TemplateMo</span> *@
                </div>
            </div>
        </div>
    </div>
</div>

<section class="section" id="products">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-heading">
                    <h2>Coming Soon</h2>
                    <span>Check out all of our products.</span>
                </div>
            </div>
        </div>

    </div>
    </div>
    <div class="container">
        <div class="row">
            @foreach (var item in Model)
            {

                <div class="col-lg-2 col-md-4 col-6 book-item" style="width:200px; margin-right:35px; margin-bottom:30px">
                    <div class="item" style="width:200px; margin-right:20px">
                        <div class="thumb">
                            <div class="hover-content">
                                <ul>
                                    <li><a asp-action="BookDetails" asp-controller="Book" asp-area="" asp-route-id="@item.Id"><i class="fa fa-eye"></i></a></li>
                                    <li>
                                        <form asp-action="AddToFav" asp-controller="Book" asp-area="" asp-route-id="@item.Id" method="post" id="addToFavForm">
                                            <button type="submit" style="border:none" class="star-button">
                                                <i class="fa fa-star"></i>
                                            </button>
                                        </form>
                                    </li>
                                    <li><a href="single-product.html"><i class="fa fa-shopping-cart"></i></a></li>
                                </ul>
                            </div>
                            <img src="@Url.Content("~/" + item.ImagePath)" alt="" height="302">
                        </div>
                        <div class="down-content">
                            <h5>@item.Title</h5>
                            <span style="margin-bottom:10px">
                                <p>@item.Author.Name</p>
                            </span>
                            @if (item.Quantity > 0)
                            {
                                <a class="btn btn-dark" style="width:100%; background-color: #573ba3; border-radius: 9999px;">
                                    <i class="fas fa-book"></i>
                                    Borrow Now
                                </a>
                            }
                            else
                            {
                                <a class="btn btn-danger disabled" style="width:100%; border-radius: 9999px">Not in Library</a>
                            }
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>