@model IEnumerable<BookReaders.Models.Book>

<style>
    button {
        border: none;
        background: none;
    }
</style>
<section class="section" id="products" style="padding-top:0px !important">
    <div class="container">
  
        <div class="row">
            <div class="col-lg-12">
                <div class="section-heading">
                    <h2>Related Books</h2>
                    <span>Details to details is what makes Hexashop different from the other themes.</span>
                </div>
            </div>
           




    @foreach (var item in Model)
    {
                <div class="col-lg-2 col-md-4 col-6" style="width:200px; margin-right:35px">
                    <div class="item " style="width:200px;margin-right:20px">
                        <div class="thumb">
                            <div class="hover-content">

                                <ul>
                                    <li><a asp-action="BookDetails" asp-controller="Book" asp-area="" asp-route-id="@item.Id"><i class="fa fa-eye"></i></a></li>

                                    <li>
                                        <form class="formm" asp-action="AddToFav" asp-controller="Favorite" asp-area="" asp-route-id="@item.Id" method="post" id="addToFavForm">
                                            <button type="submit" style="border:none" class="star-button">
                                                <i class="fas fa-heart"></i>
                                            </button>
                                        </form>
                                    </li>

                                    <li><a asp-action="BorrowConfirmation" asp-controller="Borrow" asp-area="" asp-route-id="@item.Id">
                                            <i class="fas fa-book"></i>
                                        </a></li>

                                    <li>
                            
                                </ul>
                            </div>
                            <img src="@Url.Content("~/" + item.ImagePath)" height="302" alt="">
                        </div>
                        <div class="down-content">
                            <div class="d-flex justify-content-between">
                                <h5>@item.Title</h5>

                              @*   <span>@item.Quantity</span> *@
                            </div>

                       


                        
                    </div>
                    </div>
                </div>
    }


        </div>
    </div>
</section>