@model IEnumerable<BookReaders.Models.Category>

@{
    ViewData["Title"] = "Index";
}

<div class="row container d-flex justify-content-center">

    <div class="container ">
        <partial name="_Notification" />
        <div class="row mb-4">
            <div class="col-md-6">

                <a asp-action="Create" asp-controller="Category" class="btn text-light" style="background-color:#573ba3">Create New</a>
            </div>


            <div class="col-md-6">
                <form asp-action="Search" asp-controller="Category" asp-area="Dashboard" method="get" class="form-inline d-flex">

                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="SearchItem">
                    <input class="btn text-light" style="background-color:#573ba3" type="submit" value="Search" />
                </form>
            </div>
        </div>
    </div>
    <div class="col-lg-12 grid-margin stretch-card ">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">All Categories</h5>
                <hr />
                <p class="card-description">

                </p>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
                                <th>All Books</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                                        @if (item != null && item.Books != null)
                                        {
                                        @*     @foreach (var book in item.Books)
                                            {
                                                <p>@book.Title</p>
                                            } *@

                                            <a class="btn text-light btn-sm"
                                               style="background-color:#573ba3" data-bs-toggle="modal" data-bs-target="#exampleModal2-@item.Id">

                                                All Books
                                            </a>
                                            @*   modal *@
                                            <div class="modal" id="exampleModal2-@item.Id">
                                                <div class="modal-dialog" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title">All books belonging to @Html.DisplayFor(modelItem => item.Name)</h5>
                                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                                                                <span aria-hidden="true"></span>
                                                            </button>
                                                        </div>
                                                        <div class="modal-body text-dark">
                                                            @foreach (var book in item.Books)
                                                            {

                                                                <p>@book.Title</p>
                                                            }
                                                        </div>
                                                        <div class="modal-footer">


                                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>





                                        }

                                    </td>
                                    <td>
                                        <a class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#exampleModal-@item.Id">

                                            <i class="fas fa-trash-alt delete-icon"></i>
                                        </a>
                                        @*   modal *@
                                        <div class="modal" id="exampleModal-@item.Id">
                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title">Modal title</h5>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true"></span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <p>Are you Sure Delete Item @item.Name ?</p>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <form asp-action="Delete" asp-route-id="@item.Id" method="post">
                                                            @Html.AntiForgeryToken()
                                                            <button type="submit" class="btn btn-danger">Delete</button>
                                                        </form>

                                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <a type="button" asp-action="EditBook" asp-controller="Book" asp-area="Dashboard" asp-route-id="@item.Id" class="btn text-light btn-sm"
                                           style="background-color:#573ba3">
                                            <i class="fas fa-edit edit-icon"></i>
                                        </a>

                                    </td>
                                </tr>
                            }



                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>